.product-desc-section{
  color: var(--primary-font-color);
  background: var(--secondary-color);
  height: 700px;
  margin: 0 auto;
  img{
    width: 100%;
    height: auto;
  }
  .container{
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-content: center;
  }
  .product-desc-container{
    p{
      margin-bottom: 2rem;
    }
  }
}
