<section class="product-desc-section">
  <div class="container">
    <div class="desc-img-container">
      <img src="../../../../assets/image-assets//tough-mojo-jacket-img2.png" alt="">
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla eius dolorum cum vitae ducimus rerum nesciunt illo labore beatae, odio minima. Explicabo cumque, quis cupiditate perferendis voluptatem quas corporis.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint sed inventore doloribus, fugit beatae culpa, esse iure perferendis commodi ipsam quis maxime accusamus a, enim eveniet magnam minus dignissimos aperiam exercitationem possimus laborum. Officia enim recusandae voluptatem repudiandae sequi iure!
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia eligendi ex nobis laborum quos nostrum repellat itaque, necessitatibus culpa reprehenderit reiciendis consequatur illum quo iste, tempora possimus deleniti totam accusantium dolor. Ad sapiente natus quas earum quidem quaerat eveniet dolore tenetur magni, adipisci rerum fugit repudiandae laudantium magnam corrupti, delectus eius vitae! Aperiam, praesentium. Blanditiis eos ab itaque amet maxime quas ratione cumque laborum? Culpa quisquam eius quaerat praesentium recusandae.</p>
    </div>
  </div>
</section>
