<div class="submenu-section">
    <div class="container sub-menu">
        <div class="sub-menu-btn">
          Camping
        </div>
        <div class="sub-menu-btn">
          Clothing
          <div class="dropdown-submenu">
            <span>Outwear</span>
            <span>Hiking Shoes / Boots</span>
            <span>Gloves</span>
            <span>Hats</span>
          </div>
        </div>
        <div class="sub-menu-btn">
          Fishing
        </div>
        <div class="sub-menu-btn">
          Hiking
        </div>
        <div class="sub-menu-btn">
          Biking
        </div>
      </div>
</div>

