<nav class="nav-bar container">
  <div class="nav-bar__item" *ngFor="let menu of menuList; let j = index">
    <a
      class="nav-link"
      (mouseenter)="showSubmenu(j)"
      (mouseleave)="hideSubmenu(j)"
    >
      {{ menu.title + '&nbsp;&nbsp;' }} <i class="down"></i>
      <ul
        *ngIf="menu.children.length > 0"
        [ngClass]="{
          'nav-link__submenu': true,
          show: menu.showSub
        }"
      >
        <li
          class="nav-link__submenu-item"
          *ngFor="let item of menu.children; let i = index"
        >
          <a
            [ngClass]="{
              'submenu-item__link': true,
              last: i === menu.children.length - 1
            }"
            >{{ item.title }}</a
          >
        </li>
      </ul>
    </a>
  </div>
</nav>

