<footer>
  <div class="container">
    <div>
      <a href="">
        <img src="../../../assets/image-assets/axiom-logo-small.png">
      </a>
    </div>
    <div class="nav">
      <a href="">About US | </a>
      <a href="">Contact US | </a>
      <a href="">Privacy Policy | </a>
      <a href="">Site Map</a>
      <a href="">
        <img src="../../../assets/image-assets/fb-icon.png">
      </a>
      <a href="">
        <img src="../../../assets/image-assets/twitter-icon.png">
      </a>
    </div>
  </div>
</footer>
