
footer{
  background: black;
  padding: 1rem 0;
  img{
    width: 100%;
    height: auto;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav{
    display: flex;
    flex-direction: row;
    a{
      margin: 5px;
      color: var(--primary-font-color);
      text-decoration: none
    }
  }
  .tw-icon{
    padding-top:5px;
  }
}

