<div class="backdrop">
    <div class="modal-container">
        <h5>Please Rate the Tough Mojo Jacket </h5>
        <form action="">
            <label for="review-title">Review Title: </label>
            <input type="text"  name="review-title">
            <textarea name="" id="" cols="50" rows="10" placeholder="- Write your review here-"></textarea>
            <div >
                <input class="review-submit-btn" (click)="hideModal($event)" type="submit" value="Submit Review">
            </div>
        </form>
    </div>
</div>
