
:host{
  display: none;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  min-width: 600px;
  min-height: 200px;
  max-width: 80%;
  background-color: white;
  padding: 20px;
  float: left;
  .review-form-header{
    display: flex;
    flex-direction: row;
    div{
      margin: 0 10px;
    }
    img:hover{
      background-color: #508a99;
    }
  }
  .review-title-group{
    margin: 10px auto;
    label{
      display: inline-block;
      margin: 0 5px;
    }
    input{
      width: 81%;
    }
  }
  textarea{
    width: 98%;
    padding: 5px;
  }
}


.review-submit-btn{
  background-color: #508a99;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


