<section class="product-review-section">
  <div class="review-section-header">
    <div>
      <h1>Reviews</h1>
    </div>
    <div>
      <a (click)="showModal()">Write a review on this product</a>
    </div>
  </div>

  <div class="container">
    <div class="review" *ngFor="let review of productReview">
        <div class="reviewer">
          <img src={{review.reviewers_img}} alt="">
          <p>{{review.reviewers_name}}<p>
        </div>
        <div class="review-text">
          <div class="review-title">
            <h3>{{review.review_title}}</h3>
            <p>{{review.review_date}}</p>
            <p>{{review.review_rating}}</p>
            <img src="../../../../assets/image-assets/star.png" alt="">
            <img src="../../../../assets/image-assets/star.png" alt="">
            <img src="../../../../assets/image-assets/star.png" alt="">
          </div>
        <p>{{review.review_text}}</p>
        </div>
      </div>
  </div>

</section>



<app-review-form id="ReviewForm-Modal"></app-review-form>
