<section class="product-review-section">
  <div class="review-section-header">
    <div>
      <h1>Reviews</h1>
    </div>
    <div>
      <a (click)="showModal()">Write a review on this product</a>
    </div>
  </div>

  <div class="container">
    <div class="review">
      <div class="reviewer">
        <img src="../../../../assets/image-assets/reviewer1.png" alt="">
        <p>Shaun White<p>
      </div>
      <div class="review-text">
        <div class="review-title">
          <h3>This Thing is a monster!</h3>
          <p>08/20/2013</p>
          <img src="../../../../assets/image-assets/star.png" alt="">
          <img src="../../../../assets/image-assets/star.png" alt="">
          <img src="../../../../assets/image-assets/star.png" alt="">
          <img src="../../../../assets/image-assets/star.png" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti officia alias odit aliquid magni aperiam nisi eius dolore dolor incidunt quis excepturi iure neque, quod in suscipit, vel eligendi beatae sequi reiciendis repudiandae! Quia, laudantium quisquam. Laudantium maxime officiis quia quasi nemo. Nemo temporibus quibusdam distinctio iusto. Rem velit animi veritatis consequuntur distinctio deleniti! Mollitia vel incidunt earum quidem eligendi repellat consectetur omnis molestiae enim quam autem, ipsa quia rerum ducimus dolores! Unde provident repellat numquam doloremque, tempore voluptate.</p>
      </div>
    </div>
    <div class="review">
        <div class="reviewer">
          <img src="../../../../assets/image-assets/reviewer2.png" alt="">
          <p>Jennie Loren<p>
        </div>
        <div class="review-text">
          <div class="review-title">
            <h3>Luv it so much I bought 2!</h3>
            <p>01/12/2013</p>
            <img src="../../../../assets/image-assets/star.png" alt="">
            <img src="../../../../assets/image-assets/star.png" alt="">
            <img src="../../../../assets/image-assets/star.png" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione nihil id dignissimos rerum distinctio, nam quia esse ducimus qui consectetur suscipit magnam unde deleniti hic maxime velit. Aperiam debitis necessitatibus ducimus nostrum dolores amet maiores laboriosam corrupti hic enim!</p>
        </div>
      </div>
  </div>
</section>



<app-review-form id="ReviewForm-Modal"></app-review-form>
