<section class="product-section">
  <div class="container">
      <a href="">Clothing </a> > <span>Outerwear</span>
    <div class="product">
      <div>
        <img src={{product.item_img}} alt="product_img">
      </div>
      <div>
        <h2>{{product.item_name}}&reg;</h2>
        <div>
          <ul>
            <li *ngFor="let item of product.item_details">{{item}}</li>
          </ul>
        </div>
        <div class="product-option-group">
          <div class="dropdown-btn">
            <span class="dro[down-select">Select Size</span>
            <input type="hidden">
            <span class="dropdown-icon">&#9660;</span>
          </div>
          <div class="dropdown-btn">
            <span class="dropdown-select">Select Color</span>
            <input type="hidden">
            <span class="dropdown-icon">&#9660;</span>
          </div>
        </div>
        <div class="product-option-group">
          <div class="product-quantity">
            <span (click)="addQuantity()">&#9650;</span>
            <input type="text" [value]="productQuantity">
            <span (click)="reduceQuantity()">&#9660;</span>
          </div>
          <div class="submit-btn">
            <input type="submit" value="Add to Cart">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-product-desc [productStory]="product.item_desc"></app-product-desc>
<app-product-review [productReview]="product.item_reviews"></app-product-review>
